body {
    width: 100%;
    height: 100%;
}

#header .inner {
    margin: 0 auto;
    position: relative;
}

.logo {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

   }
.nav {
    float: left;
  }
  

.footer{
    background-color: rgb(48, 47, 47)
    
}